@{
    ViewBag.Title = "Acceuil";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Indique d'utiliser le layout
}
<section class="content-header">
    <h1>
        Pharmacie By WAKA
        <small>BIENVENUE</small>
    </h1>
</section>

<!-- Main content -->
<section class="content" style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <img src="~/img/logo.PNG" alt="Alternate Text" style="max-width: 100%; height: auto;">
</section>
